* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #f5f4f4;
  color: #505050;
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

#movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

main {
  padding: 20px;
}

img {
  max-width: 100%;
}

header {
  background-color: #1c7f93;
}

#main-nav {
  padding: 10px;
  text-align: center;
}

ul {
  display: flex;
}

li {
  padding-left: 20px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 7px 21px;
  color: white;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.nav-link:hover {
  background-color: white;
  color: #186270;
}

.movie-card {
  width: 350px;
  padding: 10px;
  /* border: solid black 1px; */
  -webkit-box-shadow: 0px 1px 24px -5px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 0px 1px 24px -5px rgba(0, 0, 0, 0.72);
  box-shadow: 0px 1px 24px -5px rgba(0, 0, 0, 0.72);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

h1,
h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #939393;
  margin-bottom: 10px;
}

.main-title {
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}

.btn {
  border-radius: 50px;
  padding: 7px 28px;
  background-color: #1c7f93;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px !important;
}

#admin-dash {
  padding: 4rem;
}

#container {
  width: 50%;
  text-align: center;
  margin: auto;
  background-color: #e0dfdf;
  border-radius: 20px;
}

.login-title {
  background-color: aquamarine;
  margin-top: 50px;
}

.message {
  color: red;
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
label {
  width: 50%;
  margin-bottom: 10px;
}

input {
  line-height: 30px;
  font-size: 14px;
}